@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}
<a class="btn btn-primary" asp-page="./Create">Crear Director Técnico</a>
<h1>Listado de directores tecnicos</h1>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dt in Model.dts)
        {
            <tr>
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
            </tr>
        }
    </tbody>
</table>